<div class="row">
    <div id="portrait">
        <%= image_tag 'portrait_square.jpeg', class: 'img-circle' %>
    </div>
    <div id="self-short">
        <h1>
            Daniel Thomas
        </h1>
        <p>
            I'm a freelance software engineer and mathematician <br/>
            with interests in Ruby on Rails, data science, <br/>
            statistics and financial mathematics. <br/>
            I'm based in Berlin, Germany.
        </p>
    </div>
</div>