<div id="about-main">
    <%= render 'about_me' %>

    <h2>
        Skills
    </h2>
    <table class="table table-hover">
        <tr data-toggle="collapse" data-target="#collapse-proggen">
            <td><span class="caret"></span></td>
            <td>Programming</td>
            <td>
                C#, SQL, Java, Ruby on Rails

                <div id="collapse-proggen" class="collapse">
                    <hr/>
                    <p>
                        4 years experience in C#<br/>
                        3 years experience in SQL<br/>
                        2 years experience in Java<br/>
                        2 month experience in Ruby on Rails
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-processes">
            <td><span class="caret"></span></td>
            <td>Development Processes</td>
            <td>
                Scrum, Unit Testing, Version Control, Issue Tracking
                <div id="collapse-processes" class="collapse">
                    <hr/>
                    <p>
                        Worked 1 year in Scrum-like teams<br/>
                        NUnit, Unit:Test, Subversion, Git, Jira
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-financial">
            <td><span class="caret"></span></td>
            <td>Financial Mathematics</td>
            <td>
                Value at Risk, Stochastic Modelling of Market Prices, Pricing
                <div id="collapse-financial" class="collapse">
                    <hr/>
                    <p>
                        Worked 2 years with a Normal-Variance-Covariance
                        model for VaR calculation<br/>
                        Analyzed the model errors due to not normal
                        price distributions<br/>
                        Black-Scholes and Bond-Pricing
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-admin">
            <td><span class="caret"></span></td>
            <td>System Administration</td>
            <td>
                MS SQL Server, Apache, Linux, MariaDB
                <div id="collapse-admin" class="collapse">
                    <hr/>
                    <p>
                        I administered a production setup of a MS SQL Server
                        containing daily pricing data for more the ten thousend
                        financial instruments and application servers, that hosted
                        Windows services for VaR-calculation. <br/>
                        I'm running my own Apache Server on a Linux system hosting
                        this site and various services for myself.
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <h2>
        Work Experience
    </h2>
    <table class="table table-hover">
        <tr>
            <td><span class="caret"></span></td>
            <td>Software Developer</td>
            <td>2 years</td>
            <td>ION Trading GmbH</td>
        </tr>
        <tr>
            <td><span class="caret"></span></td>
            <td>Market Risk Analyst</td>
            <td>2 years</td>
            <td>Landesbank Berlin</td>
        </tr>
        <tr>
            <td><span class="caret"></span></td>
            <td>Risk Controller</td>
            <td>1 years</td>
            <td>Landesbank Berlin for DIS AG</td>
        </tr>
    </table>

    <h2>
        Education
    </h2>
    <table class="table table-hover">
        <tr>
            <td><span class="caret"></span></td>
            <td>Diploma in Mathematics from the University of Hamburg</td>
        </tr>
        <tr>
            <td><span class="caret"></span></td>
            <td>Erasmus Exchange at the University of Leicester, UK</td>
        </tr>
    </table>
</div>

