<% provide(:current_path, cv_path) %>
<% provide(:title, 'CV')%>

<div id="about-main">
    <%= render 'about_me' %>

    <h2>
        Skills
    </h2>
    <table class="table table-hover">
        <tr data-toggle="collapse" data-target="#collapse-proggen">
            <td><span class="caret"></span></td>
            <td>Programming</td>
            <td>
                C#, SQL, Java, Ruby on Rails

                <div id="collapse-proggen" class="collapse">
                    <hr/>
                    <p>
                        4 years experience in C#<br/>
                        3 years experience in SQL<br/>
                        2 years experience in Java<br/>
                        2 months experience in Ruby on Rails
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-processes">
            <td><span class="caret"></span></td>
            <td>Development Processes</td>
            <td>
                Scrum, Unit Testing, Version Control, Issue Tracking
                <div id="collapse-processes" class="collapse">
                    <hr/>
                    <p>
                        1 year experience in Scrum-like teams<br/>
                        NUnit, Unit:Test, Subversion, Git, Jira
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-financial">
            <td><span class="caret"></span></td>
            <td>Financial Mathematics</td>
            <td>
                Value at Risk, Stochastic Modelling of Market Prices, Pricing
                <div id="collapse-financial" class="collapse">
                    <hr/>
                    <p>
                        I worked for 2 years with a Normal-Variance-Covariance
                        model for VaR calculation<br/>
                        I analyzed the model errors resulting from to non normal
                        price distributions<br/>
                        Black-Scholes and Bond-Pricing
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-admin">
            <td><span class="caret"></span></td>
            <td>System Administration</td>
            <td>
                MS SQL Server, Apache, Linux, MariaDB
                <div id="collapse-admin" class="collapse">
                    <hr/>
                    <p>
                        I administered a production setup of a MS SQL Server
                        containing daily pricing data for more than ten thousand
                        financial instruments. On top of that I maintained
                        application servers, which hosted
                        Windows services for VaR-calculation. <br/>
                        I run my own Apache Server on a Linux system which hosts
                        this site and various services for myself.
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <h2>
        Work Experience
    </h2>
    <table class="table table-hover">
        <tr data-toggle="collapse" data-target="#collapse-ion">
            <td><span class="caret"></span></td>
            <td>Software Developer</td>
            <td>2&nbsp;years</td>
            <td>
                ION Trading GmbH
                <div id="collapse-ion" class="collapse">
                    <hr/>
                    <p>
                        Worked in the Pricing department on a distributed real-time
                        trading system. Developed C# plugins for a pluggable GUI
                        infrastructure. Enhanced the multi-threaded JAVA pricing server
                        in an agile team.
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-lbb">
            <td><span class="caret"></span></td>
            <td>Market Risk Analyst</td>
            <td>2&nbsp;years</td>
            <td>
                Landesbank Berlin
                <div id="collapse-lbb" class="collapse">
                    <hr/>
                    <p>
                        Member of the Methods Team of the Controlling department.
                        Developed C# libraries and designed the SQL database for the
                        calculation of Value at Risk numbers. Analysed and improved
                        the stochastic market risk model in response to the financial
                        crisis.
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-dis">
            <td><span class="caret"></span></td>
            <td>Risk Controller</td>
            <td>1&nbsp;year</td>
            <td>
                Landesbank Berlin for DIS AG
                <div id="collapse-dis" class="collapse">
                    <hr/>
                    <p>
                        Worked for Landesbank Berlin AG in the Risk and Controlling
                        department's Reporting Team. Analysed profit and
                        market risk numbers on a daily basis using MS SQL Server
                        and MS Access Forms that called in-house libraries.
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-sinus">
            <td><span class="caret"></span></td>
            <td>Care assistant</td>
            <td>9&nbsp;months</td>
            <td>
                Sinus Hospiz
                <div id="collapse-sinus" class="collapse">
                    <hr/>
                    <p>
                        Civil service in hospice care.
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <h2>
        Education
    </h2>
    <table class="table table-hover">
        <tr data-toggle="collapse" data-target="#collapse-unihh">
            <td><span class="caret"></span></td>
            <td>
                Diploma in Mathematics from the University of Hamburg
                <div id="collapse-unihh" class="collapse">
                    <hr/>
                    <p>
                        Focus on pure math, especially Algebraic Topology.
                        My diploma thesis was on Morava K-Theory for special
                        algebraic groups.
                    </p>
                </div>
            </td>
        </tr>
        <tr data-toggle="collapse" data-target="#collapse-compsci">
            <td><span class="caret"></span></td>
            <td>
                Minored in Computer Science
                <div id="collapse-compsci" class="collapse">
                    <hr/>
                    <p>
                        Lectures on object oriented
                        programming and databases design.
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-leicester">
            <td><span class="caret"></span></td>
            <td>
                Erasmus Exchange at the University of Leicester, UK
                <div id="collapse-leicester" class="collapse">
                    <hr/>
                    <p>
                        I spent 1 semester in Leicester where I focused
                        on dynamic modelling.
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-tuition">
            <td><span class="caret"></span></td>
            <td>
                Scholarship
                <div id="collapse-tuition" class="collapse">
                    <hr/>
                    <p>
                        Tuition fees payed by the city of Hamburg for
                        exceptional undergraduate performance.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>

