<% provide(:current_path, cv_path) %>
<% provide(:title, 'CV')%>
<% provide(:width, 'slim')%>

<div id="cv-main">
    <%= render 'about_me' %>

    <h2>
        Skills
    </h2>
    <table class="table table-hover">
        <tr data-toggle="collapse" data-target="#collapse-proggen">
            <td><span class="caret"></span></td>
            <td>Programming</td>
            <td>
                C#, SQL, Java, JavaScript, Ruby

                <div id="collapse-proggen" class="collapse">
                    <hr/>
                    <p>
                        4 years experience in C#<br>
                        3 years experience in SQL<br>
                        1 year experience in Java<br/>
                        3 months experience in JavaScript<br>
                        3 months experience using Ruby
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-processes">
            <td><span class="caret"></span></td>
            <td>Development Processes</td>
            <td>
                Scrum, Unit Testing, Version Control, Issue Tracking
                <div id="collapse-processes" class="collapse">
                    <hr/>
                    <p>
                        1 year experience in Scrum-like teams<br>
                        NUnit, Unit:Test, Subversion, Git, Jira
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-financial">
            <td><span class="caret"></span></td>
            <td>Financial Mathematics</td>
            <td>
                Value at Risk, Stochastic Modelling of Market Prices, Pricing
            </td>
        </tr>
        <tr id="collapse-financial" class="collapse">
            <td></td>
            <td colspan="2">
                <p>
                    I worked for 2 years with a Normal-Variance-Covariance
                    model for VaR calculation.<br>
                    The job included analyzing the model errors resulting from non normal
                    price distributions.<br>
                    I learnt about the Black-Scholes model and Bond-Pricing.
                </p>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-admin">
            <td><span class="caret"></span></td>
            <td>System Administration</td>
            <td>
                MS SQL Server, Apache, Linux, MariaDB
            </td>
        </tr>
        <tr id="collapse-admin" class="collapse">
            <td></td>
            <td colspan="2">
                <p>
                    I administered a production setup of a MS SQL server
                    containing daily pricing data for more than ten thousand
                    financial instruments.<br>
                    On top of that I maintained application servers, which hosted
                    Windows services for VaR-calculation. <br>
                    I run my own Apache server on a Linux system which hosts
                    this site, an Owncloud instance, a private Wiki and some
                    smaller services.
                </p>
            </td>
        </tr>
    </table>
<!--------------------------------------------------------------------------------------->
    <h2>
        Projects
    </h2>
    <table class="table table-hover">
        <tr data-toggle="collapse" data-target="#collapse-bullet_map">
            <td><span class="caret"></span></td>
            <td>Bullet Map</td>
            <td>For Amnesty International</td>
            <td><a href="http://bulletmap.org" class="swallowClick">Demo</a></td>
            <td><a href="https://github.com/Dan-Tee/BulletMap" class="swallowClick">GitHub</a></td>
        </tr>
        <tr id="collapse-bullet_map" class="collapse">
            <td></td>
            <td colspan="3">
                <p>
                    Bullet Map started with an idea from Amnesty International on the
                    Hack4Good Hackathon 0.5 in Berlin and won the first prize there.<br><br>
                    Bullet Map aims to shed light on global arms trade. On every lawfully
                    produced bullet shell, there is an identification code of the bullet
                    origin engraved, the so-called headstamp.<br><br>
                    Bullet Map shows the information associated with a headstamp and allows
                    people to upload their findings. The findings are shown on a map to
                    give an overview where the bullets used in a conflict region are coming
                    from.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>dan-t.de</td>
            <td>For myself</td>
            <td></td>
            <td><a href="https://github.com/Dan-Tee/dan-t.de">GitHub</a></td>
        </tr>
    </table>
<!--------------------------------------------------------------------------------------->
    <h2>
        Work Experience
    </h2>
    <table class="table table-hover">
        <tr data-toggle="collapse" data-target="#collapse-freelance">
            <td><span class="caret"></span></td>
            <td>Software Developer</td>
            <td>since 11/2013</td>
            <td>
                Freelance
            </td>
        </tr>
        <tr id="collapse-freelance" class="collapse">
            <td></td>
            <td colspan="3">
                <p>
                    Learned Ruby and improved my JavaScript, CSS, SCSS and HTML.<br>
                    Used Ruby on Rails, Node.js, MongoDB, Twitter Bootstrap,
                    jQuery and jQueryMobile.<br>
                    Created my home page, set it up on my own webserver
                    and built Bullet Map.
                </p>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-ion">
            <td><span class="caret"></span></td>
            <td>Software Developer</td>
            <td>2&nbsp;years</td>
            <td>
                ION Trading GmbH
            </td>
        </tr>
        <tr id="collapse-ion" class="collapse">
            <td></td>
            <td colspan="3">
                <p>
                    Worked in the Pricing department on a distributed real-time
                    trading system. Developed C# plugins for a pluggable GUI
                    infrastructure. Enhanced the multi-threaded JAVA pricing server
                    in an agile team.
                </p>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-lbb">
            <td><span class="caret"></span></td>
            <td>Market Risk Analyst</td>
            <td>2&nbsp;years</td>
            <td>
                Landesbank Berlin
            </td>
        </tr>
        <tr id="collapse-lbb" class="collapse">
            <td></td>
            <td colspan="3">
                <p>
                    Member of the Methods Team of the Controlling department.
                    Developed C# libraries and designed the SQL database for the
                    calculation of Value at Risk numbers. Analysed and improved
                    the stochastic market risk model in response to the financial
                    crisis.
                </p>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-dis">
            <td><span class="caret"></span></td>
            <td>Risk Controller</td>
            <td>1&nbsp;year</td>
            <td>
                Landesbank Berlin for DIS AG
            </td>
        </tr>
        <tr id="collapse-dis" class="collapse">
            <td></td>
            <td colspan="3">
                <p>
                    Worked for Landesbank Berlin AG in the Risk and Controlling
                    department's Reporting Team. Analysed profit and
                    market risk numbers on a daily basis using MS SQL Server
                    and MS Access Forms that called in-house libraries.
                </p>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-sinus">
            <td><span class="caret"></span></td>
            <td>Care assistant</td>
            <td>9&nbsp;months</td>
            <td>
                Sinus Hospiz
                <div id="collapse-sinus" class="collapse">
                    <hr/>
                    <p>
                        Civil service in hospice care.
                    </p>
                </div>
            </td>
        </tr>
    </table>
<!--------------------------------------------------------------------------------------->
    <h2>
        Education
    </h2>
    <table class="table table-hover">
        <tr data-toggle="collapse" data-target="#collapse-unihh">
            <td><span class="caret"></span></td>
            <td>
                Diploma in Mathematics from the University of Hamburg
                <div id="collapse-unihh" class="collapse">
                    <hr/>
                    <p>
                        Focus on pure math, especially Algebraic Topology.
                        My diploma thesis was on Morava K-Theory for special
                        algebraic groups.
                    </p>
                </div>
            </td>
        </tr>
        <tr data-toggle="collapse" data-target="#collapse-compsci">
            <td><span class="caret"></span></td>
            <td>
                Minored in Computer Science
                <div id="collapse-compsci" class="collapse">
                    <hr/>
                    <p>
                        Lectures on object oriented
                        programming and database design.
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-leicester">
            <td><span class="caret"></span></td>
            <td>
                Erasmus Exchange at the University of Leicester, UK
                <div id="collapse-leicester" class="collapse">
                    <hr/>
                    <p>
                        I spent 1 semester in Leicester where I focused
                        on dynamic modelling.
                    </p>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapse-tuition">
            <td><span class="caret"></span></td>
            <td>
                Scholarship
                <div id="collapse-tuition" class="collapse">
                    <hr/>
                    <p>
                        Tuition fees payed by the city of Hamburg for
                        exceptional undergraduate performance.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>

