<% provide(:current_path, discuss_path) %>
<% provide(:title, 'Discuss')%>

<h1>
    Discuss this site
</h1>
<p>
    Please help me make this site better. Tell me what you liked, what you disliked and
    if something wasn't working.
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'dan-t';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
