<main id="home-jumbotron" class="container">
    <%= render 'about_me' %>
    <div class="row" id="big-buttons">
        <!-- the clearfixes force breaks for mobile display-->
        <%= link_to 'Read my blog', root_path, class: 'btn btn-outline-inverse btn-lg' %>
        <div class="clearfix visible-xs"></div>
        <%= link_to 'Contact me', contact_path, class: 'btn btn-outline-inverse btn-lg' %>
        <div class="clearfix visible-xs"></div>
        <%= link_to 'More about me', about_path, class: 'btn btn-outline-inverse btn-lg' %>
    </div>
</main>


