<% provide(:current_path, root_path) %>
<% provide(:title, 'Dan-T')%>
<% provide(:width, 'slim')%>

<div id="home-jumbotron">

    <%= render 'shared/flashes' %>

    <%= render 'about_me' %>

    <div id="linkdiv">
        <%= link_to 'CV', cv_path %>
    </div>
</div>

