<% provide(:current_path, root_path) %>

<div id="home-jumbotron">

    <%= render 'shared/flashes' %>

    <%= render 'about_me' %>

    <div id="linkdiv">
        <%= link_to 'CV', about_path %>
    </div>
</div>


