<div id="home-jumbotron" class="container">
    <div class="row">
        <main>
            <div class="col-xs-12  col-sm-5">
                <%= image_tag 'portrait_small.jpeg', id: 'portrait', class: 'img-responsive img-rounded' %>
            </div>
            <div class="col-xs-12 col-sm-7">
                <h1 class="centered-sm-leftaligned">
                    Daniel Thomas
                </h1>
                <p class="centered-sm-leftaligned">
                    I'm a freelance software engineer and mathematician <br/>
                    with interests in Ruby on Rails, data science, <br/>
                    statistics and financial mathematics. <br/>
                    I'm based in Berlin, Germany.
                </p>
            </div>
        </main>
    </div>
</div>






