$brand-primary: #2D3E6E;

body {
  padding-top: 50px;  // Account for fixed navbar
}

@mixin centered-sm-left {
  text-align: center;
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

// center in the middle
#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px; // this is the minimum size before collapsing to one column
}

#main-header {
  a {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  }
}

footer {
  margin-top: 50px;
}

.red-border {
  border: 1px solid darkred;
}