#portrait {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  @media (min-width: $screen-sm-min){
    margin-top: 0;
  }
}

#home-jumbotron{
  font-size: 18px;
  line-height: 1.2;
  @media (min-width: $screen-sm-min){
    padding: 150px 0 150px 0;
  }

  h1{
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    color: $brand-primary;
  }
}

.btn-outline-inverse {
  font-size: 30px;
  color: $brand-primary;
  border: 1px solid $brand-primary;
  margin: 20px;
  &:hover {
    background-color: $brand-primary;
    border: 1px solid $body-bg;
    color: $body-bg;
  }
}

#big-buttons{
  margin: 20px 0;
  text-align: center;
  @media (min-width: $screen-sm-min){
    margin-top: 100px;
  }
}

