$brand-primary: #2D3E6E;
$slim-content-width: 600px;
$wide-content-width: 1000px;

body {
  background-color: #fff;
  padding-top: 50px;  // Account for fixed navbar
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 16px;
}

// center in the middle
main {
  margin-top: 10px;
  @media (min-width: $screen-sm-min){
    margin-top: 20px;
  }

  margin-left: auto;
  margin-right: auto;
}

main.slim{
  max-width: $slim-content-width; // this is the minimum size before collapsing to one column
}

main.wide{
  max-width: $wide-content-width; // this is the minimum size before collapsing to one column
}

footer {
  margin-top: 50px;
  font-size: 12px;
}

h1 {
  color: $brand-primary;
  margin-left: 5px;
  margin-right: 5px;
}

p {
  margin-left: 5px;
  margin-right: 5px;
}

// for debugging purposes
.red-border {
  border: 1px solid darkred;
}