<div class="container">
    <footer>
        <p class="small">
            This site is using Twitter Bootstrap in the browser and Ruby on Rails on an Apache web-server.
            It is created with joy and occasional swearing.
        </p>
    </footer>
</div>
