<header class="navbar navbar-fixed-top navbar-inverse" id="main-header" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Daniel Thomas</a>
        </div>
        <nav class="collapse navbar-collapse" id="main-navbar" role="navigation">
            <ul class="nav navbar-nav">

                <!-- insert code to add class="active" to current page -->
                <li> <a href='#'> My CV</a> </li>
                <li> <a href='#'> Contact me</a> </li>
                <li> <a href='#'> Navigation 1</a> </li>
            </ul>
        </nav>
    </div>
</header>